/**
 * @license    New BSD License
 */

.paginator, .pager {
	margin: 1em 0;
	font-size: 90%;
}

.paginator a, .paginator span, .pager a, .pager span {
	margin-right: 0.1em;
	padding: 0.2em 0.5em;
	color: #999999;
}

.paginator a, .pager a {
	border: 1px solid #9AAFE5;
	text-decoration: none;
	color: #105CB6;
}

.paginator span.button, .pager span.button {
	border: 1px solid #DDDDDD;
}

.paginator .current {
	background: #2E6AB1;
	border: 1px solid #2E6AB1;
	color: white;
	font-weight: bold;
}
