{*
* @license    New BSD License
* @param Paginator $paginator
* @param array     $steps
*}

{if $paginator->pageCount > 1}
	<ul class="pager">
		{if $paginator->isFirst()}
			<li class="disabled">
				<span>« Previous</span>
			</li>
		{else}
			<li class="prev">
				<a href="{link this, 'page' => $paginator->page - 1}">« Previous</a>
			</li>
		{/if}

		<li class="active">
			<span>{$paginator->page}/{$paginator->pageCount}</span>
		</li>

		{if $paginator->isLast()}
			<li class="disabled">
				<span>Next »</span>
			</li>
		{else}
			<li class="last"F>
				<a href="{link this, 'page' => $paginator->page + 1}">Next »</a>
			</li>
		{/if}
	</ul>
{/if}