{*
* @license    New BSD License
* @param Paginator $paginator
* @param array     $steps
*}

{if $paginator->pageCount > 1}

	<ul class="paginator">
		{if $paginator->isFirst()}
			<li class="disabled">
				<span>« Previous</span>
			</li>
		{else}
			<li>
				<a href="{link this, 'page' => $paginator->page - 1}">« Previous</a>
			</li>
		{/if}

		{foreach $steps as $step}
			{if $step == $paginator->page}
				<li class="active">
					<span class="current">{$step}</span>
				</li>
			{else}
				<li class="">
					<a href="{link this, 'page' => $step}">{$step}</a>
				</li>
			{/if}
			{if $iterator->nextValue > $step + 1}
				<li class="">…</li>
				{/if}
			{/foreach}

		{if $paginator->isLast()}
			<li class="disabled">
				<span>Next »</span>
			</li>
		{else}
			<li>
				<a href="{link this, 'page' => $paginator->page + 1}">Next »</a>
			</li>
		{/if}
	</ul>
{/if}
